
.mainDocs {
    margin-top: 80px;
    height: calc(100hv-80px);
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.mainDocs {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.mainDocs h2 {
    font-size: 44px;
    margin-bottom: 20px;
}

.mainDocs h3 {
    font-size: 24px;
}

.mainDocs p {
    color: #606060;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

.mainDocs {
    display: flex;
    gap: 8px;
}

.mainDocs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* Use the full viewport height */
    box-sizing: border-box;
    padding: 20px;
    /* Optional padding */
}