<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title> Mason Profile</title>
</head>

<body>

    <nav>
        <div class="logo">
            <a href="#">M</a>
        </div>
        <div class="nav-links">
            <a href="#">Docs</a>
            <a href="#">Projects</a>
            <a href="#">Blog</a>
            <a href="#">Youtube</a>
            <a href="#">About</a>
        </div>
        <button><i class="ri-github-fill"></i> My Projects</button>
    </nav>

    <footer class = "footer">
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
        <p>© 2024 AsmrProg Youtube Channel.</p>
    </footer>

</body>

</html>