{% extends 'ppBase.html' %}

{% block content %} 

{% load static %}
<script src="{% static 'home/ppHome.js' %}"></script>
<link rel="stylesheet" href="{% static 'home/ppHome.css' %}" />

<div class="mainHome">
  <div class="left-section">
    <div class="top">
      <h2>Mason You</h2>
      <h3>Full Stack Web Developer</h3>
      <p>
        Full Stack Developer experienced in creating personal website.
        <br />
        .NET Framework Programmer skilled in developing Windows applications for
        internal ERP systems.
      </p>
      <div class="buttons">
        <button class="linkedinButton" onclick="goToLinkedin()">
          <i class="ri-linkedin-box-fill"></i> My Linkedin
        </button>
        <button class="githubButton" onclick="goToGitHub()">
          <i class="ri-github-fill"></i> My GitHub
        </button>
      </div>
    </div>
    <div class="bottom">  
      
    </div>
  </div>
</div>

<div class="aboutMe">
  <p>About Web Development</p>
  <h2>Create Personal Website</h2>
  <div class = "devItems">

  <div class="devItem">
    <div class="inner">
      <a href="#">Back-End Development</a>
      <p>Django and SQL</p>
    </div>
  </div>
  <div class="devItem">
    <div class="inner">
      <a href="#">Cloud Computing</a>
      <p>AWS</p>
    </div>
  </div>
  </div>

</div>
{% endblock %}
