<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    {% load static %}
    <script src="{% static 'personalWeb.js' %}"></script>
    <link rel="stylesheet" href="{% static 'personalWeb.css' %}">
    <title> Mason Profile</title>
</head>

<body>
<div class="mainNavbar">
    {% include 'personalWebNavbar.html' %}
</div>
{% block content %}

{% endblock %}

</body>

</html>